<div>
    <h1>Productos</h1>
    <ul>
        {{#each products}}
            <li>Nombre: {{this.title}}, Id: {{this.id}}, Precio: {{this.price}}</li>
            <br>
        {{/each}}
    </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>